# Импорт

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Загружаем DataSet

In [6]:
df = pd.read_csv('../../../Data/neo_task_moded.csv')
df

,id,name,est_diameter_min,est_diameter_max,relative_velocity,miss_distance,absolute_magnitude,hazardous
0,3561024.0,0,0.016016,0.035813,56014.078517,1.024333e+06,26.10,0.0
1,54016766.0,1,0.030518,0.068240,7864.348060,3.268186e+07,24.70,0.0
2,3746620.0,2,0.055533,0.124177,55257.544508,6.538636e+07,23.40,0.0
3,3633054.0,3,0.019256,0.043057,41531.404722,1.260796e+07,25.70,0.0
4,3742124.0,4,0.139494,0.311918,67639.394481,7.130590e+07,21.40,0.0
...,...,...,...,...,...,...,...,...
90831,54231436.0,27417,0.017561,0.039268,23264.740825,1.635007e+06,25.90,0.0
90832,3824972.0,7577,0.110804,0.247765,24802.519406,3.351901e+07,21.90,0.0
90833,3740101.0,8541,0.035039,0.078350,116288.999548,5.471396e+07,24.40,0.0
90834,3691093.0,19100,0.044112,0.098637,45763.317060,2.694877e+07,23.90,0.0
90835,3600600.0,1068,0.084441,0.188817,79519.526381,3.631207e+07,22.49,0.0

# Удаляем name, id

In [7]:
df = df.drop(['name', 'id', 'est_diameter_min'], axis=1)

## Сохранение

In [8]:
df.to_csv('../../../Data/neo_task_moded_removed_useless_params.csv', index=False)