# Лабораторная работа 1. Введение в машинное обучение. Обучение с учителем. Задача регрессии

<b>Традиционное предупреждение для всех лабораторных работ:</b> перед обучением моделей необходимо выполнить предварительную обработку данных, которая <b>обязательно</b> включает в себя:
- заполнение пропущенных значений (рекомедуется логика заполнения пропусков на основе типа данных, которая использовалась в РГР по Практикуму);
- преобразование категориальных признаков в числовые (используйте one-hot кодирование или map; используйте знания с Практикума).

Предобработка может включать в себя другие действия, но выполнение описанных выше действий обязательно.

Сделайте это один раз и сохраните в отдельный csv файл, а потом его используйте.

<b>Выполните следующие задания:</b>
- загрузите датасет для регрессии, выделите целевой признак и предикторы, разбейте данные на обучающую и тестовую выборку;
- решите задачу регрессии на ваших данных с использованием моделей sklearn (линейная регрессия + L1, L2), для моделей с регуляризациями подберите гиперпараметр;
- решите задачу регрессии на ваших данных с использованием моделей sklearn (полиномиальная регрессия + L1, L2), для моделей с регуляризациями подберите гиперпараметр;
- вычислите значения метрик $R^2$, MAE, MSE, RMSE, MAPE для всех обученных моделей; выберите лучшую модель;
- самостоятельно реализуйте (желательно в виде класса) модель линейной регрессии с регуляризацией (можете выбрать L1 или L2);
- самостоятельно реализуйте вычисление всех используемых метрик (в виде функций, принимающих два аргумента);
- обучите вашу модель линейной регрессии на ваших данных; оцените качество с помощью реализованных вами метрик.

# Импорт

In [52]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

# Предобработка Датасета

## Загружаем DataSet

In [29]:
df = pd.read_csv('moldova_cars_task.csv')
df

,Make,Model,Year,Style,Distance,Engine_capacity(cm3),Fuel_type,Transmission,Price(euro)
0,Toyota,Prius,2011.0,Hatchback,195000.0,1800.0,Hybrid,Automatic,7750.0
1,Renault,Grand Scenic,2014.0,Universal,135000.0,1500.0,Diesel,Manual,8550.0
2,Volkswagen,Golf,1998.0,Hatchback,1.0,1400.0,Petrol,Manual,2200.0
3,Renault,Laguna,2012.0,Universal,110000.0,1500.0,Diesel,Manual,6550.0
4,Opel,Astra,2006.0,Universal,200000.0,1600.0,Metan/Propan,Manual,4100.0
...,...,...,...,...,...,...,...,...,...
41002,Dacia,NaN,2015.0,Universal,89000.0,1500.0,Diesel,Manual,7000.0
41003,Renault,Modus,2009.0,Hatchback,225.0,1500.0,Diesel,Manual,4500.0
41004,Mercedes,E Class,2016.0,Sedan,50000.0,1950.0,Diesel,Automatic,29500.0
41005,Mazda,6,2006.0,Combi,370000.0,2000.0,Diesel,Manual,4000.0
41006,Renault,Grand Scenic,2006.0,Minivan,300000.0,1500.0,Diesel,Manual,4000.0

In [30]:
df.dtypes

Make                     object
Model                    object
Year                    float64
Style                    object
Distance                float64
Engine_capacity(cm3)    float64
Fuel_type                object
Transmission             object
Price(euro)             float64
dtype: object

## Нивелирование анамалий
- Заполнение пропущенных значений (рекомедуется логика заполнения пропусков на основе типа данных, которая использовалась в РГР по Практикуму)
- Удаление дубликатов

In [31]:
df = df.drop_duplicates()
df = df.apply(lambda a: a.fillna(a.mean() if a.dtypes ==
              np.float64 else a.median() if a.dtypes == np.int64 else a.mode()[0]))
df

,Make,Model,Year,Style,Distance,Engine_capacity(cm3),Fuel_type,Transmission,Price(euro)
0,Toyota,Prius,2011.0,Hatchback,195000.0,1800.0,Hybrid,Automatic,7750.0
1,Renault,Grand Scenic,2014.0,Universal,135000.0,1500.0,Diesel,Manual,8550.0
2,Volkswagen,Golf,1998.0,Hatchback,1.0,1400.0,Petrol,Manual,2200.0
3,Renault,Laguna,2012.0,Universal,110000.0,1500.0,Diesel,Manual,6550.0
4,Opel,Astra,2006.0,Universal,200000.0,1600.0,Metan/Propan,Manual,4100.0
...,...,...,...,...,...,...,...,...,...
41001,Land Rover,Freelander,2002.0,Crossover,225000.0,1800.0,Metan/Propan,Manual,4400.0
41002,Dacia,E Class,2015.0,Universal,89000.0,1500.0,Diesel,Manual,7000.0
41003,Renault,Modus,2009.0,Hatchback,225.0,1500.0,Diesel,Manual,4500.0
41005,Mazda,6,2006.0,Combi,370000.0,2000.0,Diesel,Manual,4000.0
41006,Renault,Grand Scenic,2006.0,Minivan,300000.0,1500.0,Diesel,Manual,4000.0

In [32]:
df.isnull().sum()

Make                    0
Model                   0
Year                    0
Style                   0
Distance                0
Engine_capacity(cm3)    0
Fuel_type               0
Transmission            0
Price(euro)             0
dtype: int64

## Преобразование категориальных признаков в числовые (используйте one-hot кодирование или map; используйте знания с Практикума)

In [35]:
def replacer(a):
    x = a.unique()
    return a.map(lambda k: np.where(x == k)[0][0]) if a.dtypes == 'object' else a

In [53]:
names = dict(df.loc[:, list(filter(lambda a: df[a].dtypes == 'object', df.columns))].apply(lambda a: a.unique()))
names

{'Make': array(['Toyota', 'Renault', 'Volkswagen', 'Opel', 'Mercedes', 'BMW',
        'KIA', 'Volvo', 'Nissan', 'Hyundai', 'Audi', 'GAZ', 'Tesla',
        'Lincoln', 'Lexus', 'Dodge', 'Porsche', 'Mazda', 'Dacia',
        'Peugeot', 'Vaz', 'Ford', 'Seat', 'Honda', 'Skoda', 'Chevrolet',
        'Subaru', 'Citroen', 'Fiat', 'Jaguar', 'Infiniti', 'Mitsubishi',
        'Land Rover', 'Suzuki', 'Daewoo', 'Datsun', 'Mini', 'Changan',
        'Rover', 'Saab', 'Cadillac', 'GMC', 'Chrysler', 'Jeep', 'Acura',
        'Smart', 'Isuzu', 'Ravon', 'Moskvich / Izh', 'Chery', 'Hummer',
        'Alfa Romeo', 'UAZ', 'Lancia', 'Zaz', 'Daihatsu', 'Ssangyong',
        'Byd', 'Alta marca', 'LuAZ', 'Maserati', 'Bentley', 'Jac', 'Lifan',
        'Brilliance', 'Pontiac', 'Great Wall', 'Buick', 'Groz', 'BAIC',
        'Ferrari', 'Lada', 'Scion', 'Haval', 'Abarth', 'Haima', 'Zotye',
        'Geely', 'Tata', 'Faw', 'Lamborghini', 'McLaren',
        'Mercedes-Maybach', 'Saturn', 'Aston Martin', 'ARO', 'Xpeng'],
       dtype=object),
 'Model': array(['Prius', 'Grand Scenic', 'Golf', 'Laguna', 'Astra', 'Vito',
        'Passat', 'Touareg', 'Series (W124)', '5 Series', 'E Class',
        'CLS Class', 'Rio', '7 Series', 'Golf Plus', 'XC60', 'Qashqai',
        'Matrix', 'A3', '31029', 'Megane', 'Model S', 'MKZ', 'NX Series',
        'Caliber', 'A Class', '100', 'Cayenne', 'RX Series', 'X1',
        'GLC Coupe', 'Vectra', 'Touran', 'Carina', 'Auris', '3 Series',
        '929', 'Logan', 'Duster', '3008', '2103', 'X5', 'Transit Connect',
        'Scenic', 'Polo', '2121niva', 'Pulsar', 'Avensis', 'Alhambra',
        'CR-V', 'Note', 'Rapid', 'Sharan', 'Es Series', 'Superb',
        'Land Cruiser', 'Corolla', 'Tribute', 'Volt', 'GLE Coupe', 'C-HR',
        'A7', 'Clio', 'Trezia', 'C3', 'A6', 'Fusion', 'Vento', 'Stilo',
        'Ceed', 'Captur', 'CT Series', 'Dokker', 'i30', 'XC90', 'Getz',
        'C Class', 'Xf', 'Octavia', 'Amarok', 'Mondeo', 'Kadjar',
        'Q Series', 'Carisma', 'Berlingo', 'Civic', 'S80', 'Freelander',
        'Magentis', 'Inca', 'Fabia', 'Outlander', 'Focus', 'Tucson',
        'Clio Symbol', 'A4', 'A3 e-tron', '2107', 'Scirocco',
        'Grande Punto', 'Grand Vitara', 'Kalos', 'Almera', 'Clarity',
        'Verso', 'Prius Prime', 'Sorento', 'Transporter', 'Series (W123)',
        'Land Cruiser Prado', 'Ibiza', 'Jetta', 'X6', 'Corsa', 'C-Max',
        '626', 'Zafira', 'Caddy', 'Q5', 'Passat CC', 'Yaris', 'Calibra',
        'Grand Espace', 'Yeti', 'Discovery', 'Lodgy', '807', 'ix35',
        'Prius c', 'Talisman', 'Meriva', 'Juke', 'X-Trail', 'Rav 4',
        'S Class', 'on-DO', 'C5', 'X3', 'Fiesta 5D', 'Santa FE', '307',
        'Grand Modus', 'Space Wagon', '6', 'GLK Class', 'Camry', '80',
        'F-150', 'Accord', 'GS Series', '2', 'Doblo', 'A8', '308',
        'Cooper S', 'Avensis Verso', 'Altele', 'GL Class', 'i20',
        'Urban Cruiser', 'Phaeton', 'Aygo', 'Tiguan', 'CS35PLUS', '45',
        'Qashqai+2', 'Sandero', 'V40', 'M Class', 'V60', 'Captiva', '9-3',
        'Prius v', 'Micra', 'Optima', 'Pajero Pinin', 'Ceed Sw', 'H200',
        'CLA', 'Pajero Sport', 'Impreza', 'Insignia', 'Cooper', 'Combo',
        'Galaxy', 'Dokker VAN', 'S-Cross', 'Grandis', 'GLC', 'CTS', '207',
        'Picanto', 'Logan Mcv', 'Corolla Verso', 'S60', '2106', 'Sunny',
        '407', 'A5', 'Lacetti', 'Bora', 'Aveo', 'DS5', 'Altea', 'Kuga',
        '2114', 'Forester', 'Navara', 'Fluence', 'V50', 'Fiesta', 'C1',
        'CLK Class', 'Escape', '5', 'Leon', 'Q7', 'Pathfinder', 'Lancer',
        'Elantra', 'Omega', 'Tourneo Connect', 'Sonata', 'QX50', 'ZOE',
        'V70', 'Range Rover', 'Pixo', 'Kodiaq', 'Kona',
        'Range Rover Sport', 'Altea XL', 'Logan Van', 'E-Class Coupe',
        '4 series', 'CX-7', 'Octavia RS', 'Roomster', 'Leaf', 'Sebring',
        '1 Series', 'Q3', '9000', 'Espace', 'Nemo', 'Taurus', 'F-PACE',
        'V Class', 'SX4', 'Panamera', 'Insight', 'Outback', 'Pony',
        'Range Rover Evoque', 'Avalon', 'Grand Cherokee', '405', 'Matiz',
        'Trafic', 'Niro', 'Kangoo', 'M Models', 'B Class', 'S8', 'Carens',
        'Frontier', '2109', 'Doblo Cargo', 'Vitara', 'Sportage', 'Accent',
        'Epica', 'QX60', 'FX', 'Discovery Sport', 'RDX', 'GLE', 'Forfour',
        'Primera', 'Agila', 'Space Star', 'Trax', 'Mokka', '800 Series',
        '5 GT', 'Cruze', '6 Series', 'Multivan', 'Rogue', 'Viano', '208',
        'QX30', '206', '3', 'Macan', 'R4', 'R Class', 'IS Series', 'Jumpy',
        'iQ', 'Jazz', 'RC Series', 'Hilux', 'GX Series', 'Verso-S',
        'Siecento', 'Qubo', 'Baleno', 'XC70', 'Courier', 'S-Max', '605',
        'C4', 'Tacuma', '19', 'B-Max', 'Swift', '107', 'Crosstrek',
        'Partner', 'Almera Tino', 'Xedos', 'Pajero', 'Sephia', 'XE',
        'Citan', 'i3', '2 Series', 'Sandero Stepway', 'Cordoba',
        'Frontera', 'TT', 'Antara', 'Clio4', 'B9 Tribeca', 'Murano',
        'Voyager', 'Kalina', 'Marea', 'Fortwo', 'Ampera', 'WRX STI',
        '21099', 'Creta', 'XJ', 'Colt', 'Tipo', 'Wrangler', '2115',
        'Priora', '2140', 'NV200', 'GLA', 'G Class', 'i40', 'Previa', 'H2',
        'Ranger', 'Pikap', 'Koleos', 'Focus Rs', '400 Series', 'Tigra',
        'Tiggo', 'Punto', 'V90', 'Twingo', 'Town&Country', 'Model 3', 'XV',
        '323', 'Mustang', 'Nubira', 'XC40', 'Terrain', '508', 'ASX',
        'CX-5', 'Focus Wagon', 'Modus', 'Galant', 'Ka', 'Toledo', 'Malibu',
        '147', 'Carnival', 'MX-30', 'Range Rover Velar', 'ix20', 'RX-8',
        'Ram', '500', '600 Series', 'Splash', 'One', '2105', 'NF Sonata',
        '301', 'X4', 'Highlander', '2101', '469', 'Thesis', 'Fiesta 3D',
        'Legacy', 'Ascona', '2102', '5008', 'Grandland X', 'up!',
        'Clubman', '2410', 'Vivaro', '2104', 'Scorpio', 'Trooper',
        'Prius +', 'Sirion', 'Countryman', 'Soul', 'S-Type', 'Nexia',
        'IONIQ', 'Eclipse Cross', 'Premacy', 'S4', 'Citigo', 'Stonic',
        'Edge', 'Escalade', 'S40', 'Trajet', 'Caravelle', '2112', 'Hunter',
        'Ypsilon', 'Korando', 'LX Series', 'Rio X-Line', 'HR-V',
        'Navigator', 'H-1 Truck', 'Multipla', 'Kadett', 'Oka',
        'C4 Picasso', 'Kicks', 'C4 Cactus', 'Camaro', 'Venza', 'I-Pace',
        'Eos', 'Escort', 'Karoq', '75', 'Fox', 'Patrol', 'Explorer',
        'Terracan', 'L Series', '166', 'F3', 'MPV', 'Expert', 'C8', 'CX-3',
        'Xsara Picasso', 'Maxima', 'Space Runner', 'Qq', 'PT Cruiser',
        '401', '21', 'Orion', '190', 'Ignis', 'Venga', 'Fullback', 'DS3',
        'Allroad', 'Cuore', 'A1', 'S90', 'R2', 'S70', '500L', '159',
        'Sentra', 'Picnic', 'NV400', 'Cherokee', 'Xsara', '106', 'Altima',
        'Alt model', 'FR-V', 'Pride', '900 Series', 'Materia', 'Fiorino',
        'Express', 'altele', '2110', 'Liana', 'F-Type', 'Coupe', 'Orlando',
        'Terios', 'Caravan', 'ILX', 'Vel Satis', '156', 'Bipper',
        'Santamo', 'Ghibli II', 'ATS', '25', 'Favorit', 'Ax', 'Rekord',
        '200 Series', 'Primastar', 'Tiida', 'Sigma', '2108', 'GLS Klass',
        'Defender', 'Celica', 'Felicia', 'Exeo', 'QX Series', '9-5',
        'Seltos', 'Xterra', 'Lupo', '968', 'Patriot', 'Cayman', 'RS7',
        'Fabia RS', 'Q8', 'Panda', 'Veloster', 'Magnum', 'Opirus', 'BRZ',
        'Evanda', 'SLK Class', 'Tahoe', 'Bls', "Pro_Cee'd", '4-Runner',
        'Serena', '1102 Tavria', 'EcoSport', 'Continental', 'E-Pace',
        'Chery Van', 'Scudo', 'Q7 e-tron', 'Yaris Verso', 'Avenger',
        'e-tron', 'S3', 'YRV', 'WRX', 'Fortuner', 'Grand Voyager', 'S5',
        'Stratus', '911', 'Grande Punto 5D', 'Simbir', 'Grandeur', '300c',
        'Sl Class', 'New Beetle', 'Excursion', '3110', 'J7', 'Boxster',
        'Breez', 'Lanos', 'Prelude', 'C-Elysee', 'Doblo Panorama', 'Atos',
        'Suburban', 'Galloper', 'M-20 "Pobeda"', 'LS Series', 'Eclipse',
        '2111', '607', 'Vanette', '500X', 'Stelvio', 'Compass', 'BS6',
        'Alto', 'Avante', 'QX70', '969', 'JS4', 'Neon', 'Grand - Am',
        'HHR', 'Montero Sport', 'X2', 'Sierra', 'C2', 'Terrano',
        'Town Car', '145', 'Crosseastar', 'Rezzo', 'Granada', 'C30', 'CX',
        'BX', 'Journey', 'Hover', 'Rexton', 'Pregio', 'M Series',
        'Intrepid', 'Jimny', 'Joice', 'Cerato', '2141', 'Vaneo', 'CR-Z',
        '8 Series', 'Sequoia', 'UX', 'Hiace', '3 GT', 'Arteon', 'Justy',
        'Adam', 'X-Type', 'Spark', 'MKC', 'Puma', 'Tacoma', 'Maverick',
        'Mulsanne', 'AMG GT', 'Levante', 'Beetle', 'C-Class Coupe', '121',
        'i10', 'Actyon', 'Musa', 'Kyron', 'CX-30', '2113', 'Probe', 'CX-9',
        'Signum', 'Encore', 'Arosa', 'MDX', 'Eastar', 'Bluebird',
        'CLC Class', 'City K-ZE', 'Charger', 'C3 Picasso', 'Genesis',
        'DS4', 'Trailblaizer', 'Wagon R+', 'FSV', 'L', 'X7',
        'Cayenne Coupe', 'SC Series', 'Solara', 'Concerto', '306',
        'Shuttle', 'Samurai', 'Yukon', 'Mirage', '90', 'Bravo', 'Safrane',
        'G Series', 'Nitro', 'F-250', 'Lantra', 'Z Series', 'Tracer',
        'Stinger', 'Shuma', 'BS3', 'i8', 'Dedra', '924', 'Stream', 'Gol',
        'EU5', 'Poer', 'D50', 'Musso', 'Expedition', 'Thalia', 'F6',
        'Challenger', 'TSX', '4007', 'Passo', 'Niva', 'Bolt', 'Proace',
        '408', '2008', 'Commander', 'Monterey', 'GW Peri', 'Blazer',
        'Odyssey', 'Quattro', '406', 'iA', 'H9', 'Largus', 'Pacifica',
        'Corvette', 'Freema', 'H6', 'Jolion', 'CL Class', 'X Class',
        'Azera', 'Brava', 'Kappa', 'T500', 'CK', 'Grand Caravan', 'Logo',
        '2129 Niva Long', 'Croma', 'Dakota', 'D20', '806', 'ZX', 'Vita',
        'Streetwise', 'Lumina', 'Granta', 'Phedra', 'Giulietta', 'Giulia',
        'iM', 'Seville', 'Prairie', 'QX80', 'Vesta', '700 Series',
        'Aventador', 'Envoy', 'H3', 'S6', 'Quest', 'Spectra', 'Tundra',
        'Prisma', 'MiTo', 'Civic Hibrid', 'SQ7', 'Equinox', 'Karl',
        'Roadster', 'Model X', '200', '205', 'Ritmo', 'Clarus', 'Rodius',
        'C-Crosser', 'Renegade', 'Solaris', 'Durango', 'Scala', 'Saratoga',
        'Sintra', 'Cherry', 'A2', 'BT-50', 'Applouse', 'Equus', 'Saxo',
        'MX-6', '620', 'Gt', 'Palio', 'Albea', 'Lybra', '309', 'GT86',
        'Sienna', '108', '2123 Chevrolet', 'Espero', 'Damas', 'S-Coupe',
        'T-Cross', 'Thema', 'C70', 'Envision', 'Crown', 'S Klass',
        'Alfasud', 'Avalanche', '2125', 'Siber', '1007', 'xA', 'Aerostar',
        'Impala', '300m', 'Starlet', 'G3', 'MX-5', 'Veracruz', 'Delta'],
       dtype=object),
 'Style': array(['Hatchback', 'Universal', 'Microvan', 'SUV', 'Sedan', 'Coupe',
        'Crossover', 'Minivan', 'Pickup', 'Combi', 'Cabriolet', 'Roadster'],
       dtype=object),
 'Fuel_type': array(['Hybrid', 'Diesel', 'Petrol', 'Metan/Propan', 'Electric',
        'Plug-in Hybrid'], dtype=object),
 'Transmission': array(['Automatic', 'Manual'], dtype=object)}

In [34]:
df = df.apply(replacer)
df

,Make,Model,Year,Style,Distance,Engine_capacity(cm3),Fuel_type,Transmission,Price(euro)
0,0,0,2011.0,0,195000.0,1800.0,0,0,7750.0
1,1,1,2014.0,1,135000.0,1500.0,1,1,8550.0
2,2,2,1998.0,0,1.0,1400.0,2,1,2200.0
3,1,3,2012.0,1,110000.0,1500.0,1,1,6550.0
4,3,4,2006.0,1,200000.0,1600.0,3,1,4100.0
...,...,...,...,...,...,...,...,...,...
41001,32,87,2002.0,6,225000.0,1800.0,3,1,4400.0
41002,18,10,2015.0,1,89000.0,1500.0,1,1,7000.0
41003,1,379,2009.0,0,225.0,1500.0,1,1,4500.0
41005,17,143,2006.0,9,370000.0,2000.0,1,1,4000.0
41006,1,1,2006.0,7,300000.0,1500.0,1,1,4000.0

## Сохранение

In [54]:
df.to_csv('moded__moldova_cars_task.csv', sep='\t')

# Основное задание

## Загрузите датасет для регрессии, выделите целевой признак и предикторы, разбейте данные на обучающую и тестовую выборку.

### Загрузите датасет для регрессии.

In [55]:
df = pd.read_csv('moded__moldova_cars_task.csv')

### Выделите целевой признак и предикторы.