# Импорт

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Загружаем DataSet

In [6]:
df = pd.read_csv('../../Data/neo_task_moded_removed_nan.csv')
df

,id,name,est_diameter_min,est_diameter_max,relative_velocity,miss_distance,absolute_magnitude,hazardous
0,3561024.0,(2011 GZ2),0.016016,0.035813,56014.078517,1.024333e+06,26.10,False
1,54016766.0,(2020 HT6),0.030518,0.068240,7864.348060,3.268186e+07,24.70,False
2,3746620.0,(2016 ED156),0.055533,0.124177,55257.544508,6.538636e+07,23.40,False
3,3633054.0,(2013 FD8),0.019256,0.043057,41531.404722,1.260796e+07,25.70,False
4,3742124.0,(2016 CW31),0.139494,0.311918,67639.394481,7.130590e+07,21.40,False
...,...,...,...,...,...,...,...,...
88535,54231436.0,(2021 YE),0.017561,0.039268,23264.740825,1.635007e+06,25.90,False
88536,3824972.0,(2018 KL),0.110804,0.247765,24802.519406,3.351901e+07,21.90,False
88537,3740101.0,(2016 AB166),0.035039,0.078350,116288.999548,5.471396e+07,24.40,False
88538,3691093.0,(2014 SQ260),0.044112,0.098637,45763.317060,2.694877e+07,23.90,False
88539,3600600.0,(2012 EQ3),0.084441,0.188817,79519.526381,3.631207e+07,22.49,False

# Удаляем name, id

In [7]:
df = df.drop(['name', 'id'], axis=1)

## Сохранение

In [8]:
df.to_csv('../../Data/neo_task_moded_removed_nan_removed_useless_params.csv', index=False)