# Задание 2

- загрузите датасет для классификации, проведите предобработку, выделите целевой признак и предикторы, разбейте данные на обучающую и тестовую выборку;
- Масштабируйте числовые признаки
- В случае дисбаланса проведите балансировку

# Импорт

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../../../Data/DataLaba2/neo_task_moded.csv')
models = df.drop('hazardous', axis=1)
models

,id,name,est_diameter_min,est_diameter_max,relative_velocity,miss_distance,absolute_magnitude
0,3561024.0,0,0.016016,0.035813,56014.078517,1.024333e+06,26.10
1,54016766.0,1,0.030518,0.068240,7864.348060,3.268186e+07,24.70
2,3746620.0,2,0.055533,0.124177,55257.544508,6.538636e+07,23.40
3,3633054.0,3,0.019256,0.043057,41531.404722,1.260796e+07,25.70
4,3742124.0,4,0.139494,0.311918,67639.394481,7.130590e+07,21.40
...,...,...,...,...,...,...,...
90831,54231436.0,27417,0.017561,0.039268,23264.740825,1.635007e+06,25.90
90832,3824972.0,7577,0.110804,0.247765,24802.519406,3.351901e+07,21.90
90833,3740101.0,8541,0.035039,0.078350,116288.999548,5.471396e+07,24.40
90834,3691093.0,19100,0.044112,0.098637,45763.317060,2.694877e+07,23.90
90835,3600600.0,1068,0.084441,0.188817,79519.526381,3.631207e+07,22.49

In [3]:
np.abs(models.median() - models.mean())

id                    1.063662e+07
name                  1.446088e+03
est_diameter_min      7.906446e-02
est_diameter_max      1.767576e-01
relative_velocity     3.672431e+03
miss_distance         7.800332e+05
absolute_magnitude    1.733470e-01
dtype: float64

# Удаляем name, id и линейно зависимые признаки.

In [4]:
models = models.drop(['name', 'id', 'est_diameter_min'], axis=1)

# Масштабирование числовых признаков

## Используем средне-дисперсную нормализацию:
$$x^\prime_i = \dfrac{x_i - \overline{x}}{\sigma}$$

In [5]:
models_normed_by_mean_dispersion = (models-models.mean())/models.std()
models_normed_by_mean_dispersion_results = np.abs(models_normed_by_mean_dispersion.median() - models_normed_by_mean_dispersion.mean())
models_normed_by_mean_dispersion_results

est_diameter_max      0.265217
relative_velocity     0.145634
miss_distance         0.034898
absolute_magnitude    0.060126
dtype: float64

## Используем средне-дисперсную нормализацию:
$$X^\prime = a - \dfrac{X - X_{\text{min}}}{X_{\text{max}} - X_{\text{min}}}(b-a)$$

In [6]:
a = -1
b = 1
models_normed_by_min_max = a + (models - models.min())/(models.max() - models.min()) * (b-a)
models_normed_by_min_max_results = np.abs(models_normed_by_min_max.median() - models_normed_by_min_max.mean())
models_normed_by_min_max_results

est_diameter_max      0.004172
relative_velocity     0.031019
miss_distance         0.020859
absolute_magnitude    0.014464
dtype: float64

## Вывод
Минмакс нормализация показала себя лучше, т.к. отличие среднего значениия от медианны меньше.

In [7]:
models_normed_by_min_max_results < models_normed_by_mean_dispersion_results

est_diameter_max      True
relative_velocity     True
miss_distance         True
absolute_magnitude    True
dtype: bool

# Сохранение

In [8]:
models_normed_by_min_max['hazardous'] = df['hazardous']
models_normed_by_min_max.to_csv('../../../Data/DataLaba2/neo_task_moded_norm.csv', index=False)